body{
	font-family: 'Segoe UI', sans-serif;
	color: #222;
}
h1{
	margin-bottom: 60px;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: 600;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	width: 100%;

	td {
		padding: 8px 0;
	}
	th {
		text-align: left;
	}

	tr {
		th:first-child{
			text-align: center;
		}
		td:first-child{
			text-align: center;
		}
		td:nth-child(2){
			padding-right: 10px;
		}
		&:hover td{
			background-color: #efefef;
		}
	}
}
a{
	text-decoration-style: dotted;
	color: #1eaedb;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-sidebar {
	width: 200px;
	border-right: 1px solid #ddd;
	height: 100vh;
	position: fixed;
	padding: 10px 20px;
	top: 0;
	transition: width 300ms;
	&.collapsed {
		width: 60px;
		.link-text {
			display: none;
		}
	}
}
.main-content {
	margin-left: 200px;
	transition: all 300ms;
	&.fw {
		margin-left: 60px;
	}
}
.menu-toggle {
	width: 42px;
	height: 42px;
	display: block;
	margin-left: -10px;
	img {
		max-width: 100%;
	}
}
