body{
	font-family: 'Segoe UI', sans-serif;
	color: #222;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: 600;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	width: 100%;

	td {
		padding: 8px 0;
		padding-right: 10px;
	}
	th {
		text-align: left;
	}

	tr {
		th:first-child{
			text-align: center;
		}
		td:first-child{
			text-align: center;
		}
		td:nth-child(2){
			padding-right: 10px;
		}
		&:hover td{
			background-color: #efefef;
		}
	}
}
.hidden {
	display: none !important;
}
a{
	text-decoration-style: dotted;
	color: #1eaedb;
}
img {
	max-width: 100%;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	&.inline li {
		display: inline-block;
	}
}
.selectize-control {
	margin-bottom: 20px;
}
.main-sidebar {
	width: 200px;
	border-right: 1px solid #ddd;
	height: 100vh;
	position: fixed;
	padding: 10px 0;
	top: 0;
	transition: width 300ms;
	&.collapsed {
		width: 60px;
	}
	.side-menu.collapsed > ul {
		display: none;
	}
	ul li ul > li a {
		padding-left: 45px !important;
		font-size: 14px !important;
	}
	nav.side-menu {
		margin-top: 20px;
		a {
			color: #2a2a2a;
			font-size: 17px;
			display: block;
			padding: 7px 20px;
			&:hover {
				background-color: #eee;
				text-decoration: none;
			}
		}
	}
	.ico {
		background-size: 22px;
		width: 22px;
		height: 22px;
		display: inline-block;
		margin-right: 10px;
		position: relative;
		top: 4px;
		&.book {
			background-image: url(../img/book2.svg);
		}
		&.lists {
			background-image: url(../img/lists.svg);
		}
	}
}
.main-content {
	margin-left: 220px;
	margin-bottom: 8%;
	transition: all 300ms;
	&.fw {
		margin-left: 80px;
	}
}
.menu-toggle {
	width: 42px;
	height: 42px;
	display: block;
	margin-left: 10px;
}

.control-row {
	margin-top: 20px;
	font-size: 14px;
	.book-count {color: #c7c9cb;}
}
.view-btns {
	padding-right: 30px;
	margin-bottom: 25px;
	li {
		margin-left: 10px;
	}
}
.search-input {
	width: 100%;
	border: 0 none;
	border-bottom: 1px solid #ddd;
	font-size: 2rem;
	color: #666;
	font-weight: 300;
}
.add-new-btn {
	// border: 1px solid #aaa;
	color: #0290EA;
	transition: color 200ms;
	&:hover {
		text-decoration: none;
		color: darken(#0290EA, 15%);
	}
	border-radius: 30px;
	text-align: center;
	width: 60%;
	display: block;
	margin: 0 auto;
	line-height: 2.2rem;
	// height: 40px;
}
.GridView {
	.test {
		width: 140px;
		margin: 0 18px 25px;
	}
}

.h1-ico {
	width: 40px;
	margin-right: 5px;
}
.Book {
	position: relative;
	.coverimg img {
		width: 140px;
	}
	.coverimg {
		display: block;
		height: 185px;
		overflow: hidden;
	}
	.info {
		p {margin-bottom: 0; font-family: Georgia, serif;}
		a:hover {
			text-decoration: none;
		}
		margin-top: 15px;
		.name {
			color: #484a4b;
			// font-size: 18px;
		}
		.authors {
			color: #c7c9cb;
			position: relative;
			top: -3px;
			font-size: 14px;
		}
	}
	.editbtn {
		position: absolute;
		top: 5px;
		right: 5px;
		background-image: url(../img/edit.svg);
		background-color: rgba(#fff, .8);
		opacity: 0;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		background-size: 15px;
		box-shadow: 0 0 8px 0 rgba(#000, .3);
		width: 30px;
		height: 30px;
		display: block;
		transition: opacity 200ms;
	}
	&:hover .editbtn {
		opacity: 1;
	}
}

.ListView {
	display: none;
	max-width: 100%;
	table {
		width: 100%;
		overflow-wrap: break-word;
	}
}

.new-book-form {
	margin-top: 20px;
	.submit-btn {
		background-color: #aaa;
		// background-color: #0146a3;
		color: #fff;
		width: 100%;
		height: 50px;
		font-weight: 600;
		border: 0 none;
		border-radius: 30px;
		margin-top: 20px;
	}
	.selectize-input {
		border: 0;
		box-shadow: none;
		border-radius: 0;
		border-bottom: 1px solid #ccc;
		&.focus {
			box-shadow: none;
		}
	}
}
.coverimg--bookform {
	max-height: 450px;
}
.form-group {
	input, select {
		width: 100%;
		border: 0 none;
		border-bottom: 1px solid #ccc;
		margin-bottom: 30px;
	}
}
.newlist-form {
	width: 40%;
	.submit-btn {
		height: 40px;
	}
	.collico--preview {
		width: 40px;
		margin: 0 auto;
		display: block;
	}
}


.ListDB {
	.ListGrid {
		a:hover {
			text-decoration: none;
		}
		.List {
			box-shadow: 2px 0 10px rgba(#000, .1);
			transition: box-shadow 300ms;
			border-radius: 20px;
			text-align: center;
			height: 200px;
			&:hover {
				box-shadow: 2px 0 20px rgba(#6E7F93, .25);
			}
			.middle {
				padding: 20px;
				width: 100%;
				font-weight: 600;
				color: #888;
				font-size: 18px;
				text-align: center;
			}
			.ico {
				width: 60px;
				height: 60px;
				background-size: 60px;
				margin: 0 auto;
				display: block;
			}
		}
	}
}
.tabContainer {
	border-bottom: 1px solid #ccc;
	width: 96%;
	ul li {
		margin-right: 20px;
	}
	a {
		border-bottom: 1px solid #ccc;
		position: relative;
		top: -4px;
		padding: 0 10px;
		padding-bottom: 6px;
		font-size: 14px;
		color: #888;
		&:hover {
			text-decoration: none;
			color: darken(#888, 20%);
			border-bottom: 2px solid #aaa;
		}
		&.active {
			color: #616C76;
			border-bottom: 2px solid #616C76;
			font-weight: 600;
		}
	}
	ul li:first-child a {
		padding-left: 2px;
	}
}
